body,
html {
    height: 100%;
    font-size: 62.5%;
    background: rgb(213, 225, 239);
    font-family: "Outfit", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-container {
    margin-inline: 2rem;
    position: absolute;
    margin: auto;
    inset: 0;
    max-height: 43.5rem;
    width: 100%;
    max-width: 30.8rem;
    background-color: white;
    box-shadow: 0px 1px 28px -11px black;
    border-radius: 16px;
}

img {
    width: 100%;
    padding: 1.2rem;
    border-radius: 2rem;
}

h3 {
    font-weight: 700;
    margin-inline: 1rem;
    font-size: 1.7rem;
    text-align: center;
    color: rgb(34, 45, 62);
}

.para {
    font-size: 1.2rem;
    text-align: center;
    color: rgb(129, 134, 140);
    font-weight: 600;
    margin: 1rem;
}